.navbar-brand img {
  max-width: 216px; }

.main-header .nav-item {
  padding: 0 5px; }
  .main-header .nav-item .nav-link {
    font-weight: bold;
    font-size: 16px;
    border-bottom: 2px solid transparent; }
    .main-header .nav-item .nav-link:hover, .main-header .nav-item .nav-link.active {
      border-color: #d92228; }

@media (min-width: 992px) {
  .main-header .nav-item .nav-link {
    padding: 24px 3px; } }

.container {
  max-width: 1300px; }

.heading1 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500; }
  .heading1 > a {
    font-size: 14px;
    text-transform: initial;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer; }

.btm-br {
  border-bottom: 2px solid #000;
  padding-bottom: 15px; }

.item-list {
  display: flex;
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 1px solid #bababa; }
  .item-list > img {
    width: 115px;
    object-fit: cover;
    height: 100%;
    min-height: 150px; }
  .item-list .content {
    padding-left: 20px;
    font-size: 14px; }
    .item-list .content .product-name {
      font-weight: 500;
      font-size: 14px; }
    .item-list .content .price-div {
      font-weight: 500; }
      .item-list .content .price-div span.current {
        text-decoration: line-through; }

.order-summery > h3 {
  font-size: 25px;
  font-weight: 500; }

.order-summery table {
  font-size: 16px; }
  .order-summery table td {
    padding: 5px; }

.font-weight-medium {
  font-weight: 500; }

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.3) !important; }

.shipping-detail {
  display: flex; }
  .shipping-detail > input {
    height: 20px;
    width: 20px; }
  .shipping-detail > div {
    padding-left: 10px;
    width: 100%; }
  .shipping-detail .name a {
    font-weight: 500;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer; }
